.header {
    min-height: 100px;
    width: 100%;
    background: #fff;
    position:fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
}

.search {
    margin: 0 auto;
    width: 400px;
    padding: 30px;
}

input[name="search"] {
    font-size: 30px;
    border: 1px solid #ddd;
    color: #333;
    box-shadow:
        10px 0 0 14px #fcfcfc,
        -10px 0 0 14px #fcfcfc;
    padding: 0.3em 0.7em;
}

