.main {

}

.container {
    background: #f6f6f6;

}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.result {
    margin-top: 100px;
    padding: 10px 30px;
    overflow: auto;
}

.result * {

    box-sizing: border-box;
}

.result ul {
    background: #fff;
    box-shadow: 0 0 8px 8px rgba(0,0,0, 0.01);
    width: 50%;
    margin: 0 -10px;
}

.result li {
    padding: 16px 30px;
    position: relative;
    border-bottom: 2px solid #f3f3f3;
}
.result li:last-child {
    border: none;
}


.result li .small {
    position: absolute;
    right: 30px;
    font-size: 10px;
    color: #444;
}


.result .left {
    float: left;
}

.result .right {
    float: right;
}